# 1. Load and Display Data â†’ Read the dataset and print the first 5 rows.

In [137]:
import pandas as pd
data=pd.read_csv('covid_19_country_wise_latest.csv',)
data.head()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

# 2. Set the Dataset index is Unnamed: 0

In [138]:
data = data.set_index('Unnamed: 0')

# 3. Now replace the index column Unnamed: 0 name with index

In [139]:
data.index.name="Index"
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

# 4. Create Function that take dataset columns and replace whitespace  with Underscore and update dataset automatically and the pass the dataset.

In [140]:
def func(data):
    data.columns=data.columns.str.replace(' ','_').str.replace('/','_')
    for column in data.columns:
        if data[column].dtype == 'object':
            data[column] = data[column].str.replace(' ', '_')
    return data
d=func(data)
d.sample(6)

,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
Index,,,,,,,,,,,,,,,
74,Haiti,7340,158,4365,2817,25.0,1.0,0,2.15,59.47,3.62,7053,287,4.07,Americas
137,Romania,45902,2206,25794,17902,1104.0,19.0,151,4.81,56.19,8.55,38139,7763,20.35,Europe
185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
126,Norway,9132,255,8752,125,15.0,0.0,0,2.79,95.84,2.91,9034,98,1.08,Europe
36,China,86783,4656,78869,3258,213.0,4.0,7,5.37,90.88,5.90,85622,1161,1.36,Western_Pacific
52,Egypt,92482,4652,34838,52992,420.0,46.0,1007,5.03,37.67,13.35,88402,4080,4.62,Eastern_Mediterranean

# 5. Check Basic Information â†’ Find column names, data types, and 
issing values.

In [141]:
print(f''' {d.columns}\n
{d.dtypes}\n
{d.isna().sum()}''')

 Index(['Country_Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths___100_Cases',
       'Recovered___100_Cases', 'Deaths___100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

Country_Region             object
Confirmed                   int64
Deaths                     object
Recovered                   int64
Active                      int64
New_cases                 float64
New_deaths                float64
New_recovered               int64
Deaths___100_Cases        float64
Recovered___100_Cases     float64
Deaths___100_Recovered    float64
Confirmed_last_week         int64
1_week_change               int64
1_week_%_increase         float64
WHO_Region                 object
dtype: object

Country_Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths___100_Cases         0
Recovered___100_Cases      0
Deaths___100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64

# 6. fill the nan values with the mean of the column

In [142]:

d.New_cases=d.New_cases.fillna(d.New_cases.mean())
d.New_deaths=d.New_deaths.fillna(d.New_deaths.mean())

print(d.New_cases.isna().sum())
d.New_deaths.isna().sum()

0

0

# 7. Count the number of unique countries in the dataset.

In [143]:
d.Country_Region.value_counts()

Country_Region
Afghanistan    1
Pakistan       1
Nepal          1
Netherlands    1
New_Zealand    1
              ..
Georgia        1
Germany        1
Ghana          1
Greece         1
Zimbabwe       1
Name: count, Length: 187, dtype: int64

# 8. Check if there are any duplicate country entries and remove them if needed.

In [144]:
d.duplicated().sum()

0

# 9. Find the mean, median, and standard deviation of total cases.

In [145]:
d.describe()

,Confirmed,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase
count,1.870000e+02,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,5.063148e+04,3.400194e+04,1282.740113,30.401130,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,1.901882e+05,2.133262e+05,5704.395582,119.874498,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,6.265000e+02,1.415000e+02,5.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,2.815000e+03,1.600000e+03,71.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,2.260600e+04,9.149000e+03,586.500000,7.500000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

# 10. Find out the string in Deaths Column and replace it with the  mean of Deaths column.

In [146]:
import numpy as np
def isalpa(data):
        if data.isalpha():
            return np.nan
        else:
            if data.isnumeric():
                return int(data)
d.Deaths = d.Deaths.apply(isalpa)
d.Deaths = d.Deaths.fillna(d.Deaths.mean())
d.Deaths

Index
0      1269.000000
1       144.000000
2      1163.000000
3        52.000000
4        41.000000
          ...
182      78.000000
183       1.000000
184     483.000000
185     140.000000
186    3516.129032
Name: Deaths, Length: 187, dtype: float64

# 11. Change the datatype of column Deaths

In [147]:
d.Deaths=d.Deaths.astype(int)
d.Deaths

Index
0      1269
1       144
2      1163
3        52
4        41
       ...
182      78
183       1
184     483
185     140
186    3516
Name: Deaths, Length: 187, dtype: int32

# 12. Calculate total number of Death and Recovery all over the  world

In [148]:
d1=d.Deaths.sum() + d.New_deaths.sum()
r1=d.Recovered.sum() + d.New_recovered.sum()

print(f'Total Deaths : {d1}\nTotal Recovered : {r1}')

Total Deaths : 663201.011299435
Total Recovered : 9642710

# 13. How many countries have more than 1 million total cases

In [149]:
country=d["Country_Region"][d.Confirmed>=1000000]
country

Index
23     Brazil
79      India
173        US
Name: Country_Region, dtype: object


# 14. Which countries have a recovery rate (Recovered / Total Cases) above 95%

In [110]:
country = datt['Country_Region'][datt.Recovered // datt.Confirmed >= 0.95]
country

Index
49    Dominica
69     Grenada
75    Holy_See
Name: Country_Region, dtype: object

# 15. Drop columns name WHO Region and Confirmed

In [151]:

d.drop(columns=["WHO_Region","Confirmed"])

,Country_Region,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase
Index,,,,,,,,,,,,,
0,Afghanistan,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07
1,Albania,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00
2,Algeria,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07
3,Andorra,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60
4,Angola,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West_Bank_and_Gaza,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12
183,Western_Sahara,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00
184,Yemen,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45
185,Zambia,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86
186,Zimbabwe,3516,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85

# 16. Find the Country with the Max Death

In [152]:
d["Country_Region"][datt.Deaths==datt.Deaths.max()]

Index
173    US
Name: Country_Region, dtype: object

# 17. Sort Countries by Deaths (Descending Order)

In [153]:
d.sort_values(by="Deaths",ascending=False)

,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
Index,,,,,,,,,,,,,,,
173,US,4290259,148011,1325804,2816444,56336.000000,1076.00000,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284.000000,614.00000,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
177,United_Kingdom,301708,45844,1437,254427,688.000000,7.00000,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
111,Mexico,395489,44022,303810,47657,4973.000000,342.00000,8588,11.13,76.82,14.49,349396,46093,13.19,Americas
85,Italy,246286,35112,198593,12581,168.000000,5.00000,147,14.26,80.64,17.68,244624,1662,0.68,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Bhutan,99,0,86,13,1282.740113,30.40113,1,0.00,86.87,0.00,90,9,10.00,South-East_Asia
130,Papua_New_Guinea,62,0,11,51,0.000000,0.00000,0,0.00,17.74,0.00,19,43,226.32,Western_Pacific
75,Holy_See,12,0,12,0,0.000000,0.00000,0,0.00,100.00,0.00,12,0,0.00,Europe
30,Cambodia,226,0,147,79,1.000000,0.00000,4,0.00,65.04,0.00,171,55,32.16,Western_Pacific
114,Mongolia,289,0,222,67,1.000000,0.00000,4,0.00,76.82,0.00,287,2,0.70,Western_Pacific

# 18. Make new column name Total_cases that have a sum of Deaths, Recovered , Active

In [154]:
d['Total_cases']=d.Deaths + d.Recovered + d.Active
d.head()

,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,Total_cases
Index,,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern_Mediterranean,36263
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,4880
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,27973
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,907
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,950

# 19. Calculate Death_Rate for Each Country (Deaths per Total Cases) by suing formula (Desths/Total_cases)*100 and save it in Dath_Rate column

In [159]:
d["Death_Rate"]=(d.Deaths/d.Confirmed)*100
d.head()

,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,Total_cases,Death Rate,Death_Rate
Index,,,,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern_Mediterranean,36263,3.499435,3.499435
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,4880,2.950820,2.950820
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,27973,4.157581,4.157581
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,907,5.733186,5.733186
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,950,4.315789,4.315789

# 20. Identify countries where total cases are increasing but death  rates remain low.

In [156]:
d

,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths___100_Cases,Recovered___100_Cases,Deaths___100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,Total_cases,Death Rate
Index,,,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern_Mediterranean,36263,3.499435
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,4880,2.950820
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,27973,4.157581
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,907,5.733186
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,950,4.315789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West_Bank_and_Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern_Mediterranean,10621,0.734394
183,Western_Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa,10,10.000000
184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern_Mediterranean,1691,28.562980
185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa,4552,3.075571
186,Zimbabwe,2704,3516,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa,6184,130.029586

# 21. print head of only 2 columns Country/Region and Death_Rate

In [160]:
d.loc[:,["Country_Region","Death_Rate"]].head()

      Country_Region  Death_Rate
Index
0        Afghanistan    3.499435
1            Albania    2.950820
2            Algeria    4.157581
3            Andorra    5.733186
4             Angola    4.315789

# 23. Save dataset in CSV format.

In [163]:
data.to_csv("covid_data.csv")